<div class="main">
    <div class="container">
      <div class="row" *ngIf="Student.length==0">
          <p class="text-warning">.........</p>
      </div>
      <div class="row" *ngIf="Student.length !==0">
        <div class="col-md-12">
          <h2>Student List</h2>
          <table class="table table-bordered table-sm">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Mark</th>
              <th>Email</th>
              <th>Address</th>
              <th style="width: 12%; text-align: center;">Action</th>
            </thead>
            <tbody>
             <!-- *ngFor="Let student of Student"-->
              <tr *ngFor="let student of Student">
                  <td>{{student.id}}</td>
                  <td>{{student.name}}</td>
                  <td>{{student.mark}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.address}}</td>
                  <td>
                      <a routerLink="/student-edit/{{student.id}}" title="Edit" class="btn btn-sm btn-info mr-2">edit</a>
                      <a (click)="deleteStudent(student.id)" title="Delete" class="btn btn-sm btn-danger">delete</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    console.log(Student);
  </script>