<div class="container custom-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 20px;;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-3 text-center">Create Student</h3>
                </div>
                <div class="col-md-6 form-group">
                        <label>Name</label>
                    <input type="col-md-4  text" [(ngModel)]="studentDetails.name" class="form-control" placeholder="Name">
                  </div>
              
                  <div class="col-md-6  form-group">
                        <label>Email</label>
                    <input type="text" [(ngModel)]="studentDetails.email" class="form-control" placeholder="Email">
                  </div>
              
                  <div class="col-md-6  form-group">
                        <label>Class</label>
                    <input type="number" [(ngModel)]="studentDetails.class" class="form-control" placeholder="class">
                  </div>
                  <div class="col-md-6 form-group">
                        <label>Mark</label>
                    <input type="number" [(ngModel)]="studentDetails.mark" class="form-control" placeholder="mark">
                  </div>
                  <div class="col-md-6  form-group">
                        <label>Address</label>
                        <input type="text" [(ngModel)]="studentDetails.address" class="form-control" placeholder="Address">
                    </div>
                  <div class="col-md-1  form-group">
                      <h6>Gender</h6>
                    <label>Male
                        <input type="radio" [(ngModel)]="studentDetails.gender" class="form-control" value="male">
                    </label>
                </div>
                    <div class="col-md-1  form-group">
                            <h6> &nbsp;</h6>
                    <label>Female
                        <input type="radio" [(ngModel)]="studentDetails.gender" class="form-control" value="female">
                    </label>
                  </div>
                  <div class="col-md-12 text-center">
                        <button class="btn btn-success btn-md" (click)="addStudent()">Create Student</button>
                    </div>
            </div>
        </div>
    </div>
  </div>