<div class="container custom-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-top: 20px;">
                <form (submit)="adminLoginSubmit($event)">               
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="mb-3 text-center">Admin Login</h3>
                        </div>
                  
                      <div class="col-md-12  form-group">
                            <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email" id="username">
                      </div>
                      <div class="col-md-12  form-group">
                            <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="password">
                      </div>
                      <div class="col-md-12 text-center">
                            <button class="btn btn-success btn-md" type="submit">Login</button>
                        </div>
                    </div>
                </form>
                      
                </div>
            </div>
        </div>