<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="row" style="width:100%">
        <div class="col-md-12">
          <a class="navbar-brand float-left" routerLink="/">Angular</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="btn btn-sm btn-info" style="margin-right: 5px;" routerLink="/" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="btn btn-sm btn-info" style="margin-right: 5px;" routerLink="/student-list" routerLinkActive="active">Students</a>
                </li>
              <li class="nav-item">
                <a class="btn btn-sm btn-info" style="margin-right: 5px;" routerLink="/create-student" routerLinkActive="active">Create New</a>
              </li>
              <!--
              <li class="nav-item">
                  <a class="btn btn-sm btn-success" routerLink="/login" routerLinkActive="active">Login</a>
              </li>

              <li id="logOUt" class="" style="margin-left: 10px;" >
                  <a class="btn btn-sm btn-warning" (click)="logOut()">Logout</a>
              </li>
               -->
            </ul>
            
            <!--
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->

          </div>
        </div>
      </div>
    </div>
   
  </nav>
</div>

<router-outlet></router-outlet>